@import '../../styles/colors';
@import '../../styles/accessories';

.aside{
    background-color: white;
    box-shadow: 2px 0px 24px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    .header{
        display: flex;
        justify-content: space-between;
        border-bottom: $border;
        height: 45px;
        padding: 1em;
        .title{
            display: flex;
            align-items: center;
            h1{
                margin: 0;
                font-size: 1.5em;
                font-weight: normal;
            }
            .notifications{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 22px;
                height: 16px;
                border-radius: 16px;
                background-color: $color-alert;
                color: white;
                margin: 0 0.5em;
            }
        }
        .filter{
        }
    }
    .search{
        padding: 1em;
        border-bottom: $border;
        .input{
            display: flex;
            border-radius: $button-border-radius;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
            input{
                flex-grow: 1;
                border: none;
                padding: 0.5em;
                border-radius: $button-border-radius;
            }
            .icon{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5em;
            }
        }
    }
    .mail-list{
        flex-grow: 1;
        overflow-y: scroll;
    }
}