@import './colors';
@import './font';

body{
    background-color: $color-background;
    font-family: $font-family;
    font-size: $font-size;
    color: $color-text;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
button{
    cursor: pointer;
}